name: CI

on:
  push:
  pull_request:

jobs:
  bench:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Run Benchmarks
        run: go run ./src -bench
  
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: go fmt
        run: |
          gofmt -l . | tee /tmp/gofmt.out
          if [ -s /tmp/gofmt.out ]; then
            echo "The following files need formatting:"
            cat /tmp/gofmt.out
            exit 1
          fi

      - name: go vet
        run: go vet ./...
        
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v

